In [40]:
import pandas as pd

df = pd.read_csv('ZILLOW-Z77006_MLPAH.csv')
print(df.head())

         Date     Value
0  2017-07-31  540000.0
1  2017-06-30  550000.0
2  2017-05-31  572450.0
3  2017-04-30  572450.0
4  2017-03-31  549900.0

In [41]:
df.set_index('Date', inplace=True)

In [42]:
df.to_csv('newcsv1.csv')

In [22]:
df['Value'].to_csv('newcsv1.csv') ## only to send single column

In [43]:
df = pd.read_csv('newcsv1.csv')
print(df.head())

         Date     Value
0  2017-07-31  540000.0
1  2017-06-30  550000.0
2  2017-05-31  572450.0
3  2017-04-30  572450.0
4  2017-03-31  549900.0

In [44]:
df = pd.read_csv('newcsv1.csv', index_col=0)

print(df.head())

               Value
Date
2017-07-31  540000.0
2017-06-30  550000.0
2017-05-31  572450.0
2017-04-30  572450.0
2017-03-31  549900.0

In [45]:
df.columns = ['House_Prices']
print(df.head())

            House_Prices
Date
2017-07-31      540000.0
2017-06-30      550000.0
2017-05-31      572450.0
2017-04-30      572450.0
2017-03-31      549900.0

In [46]:
df.to_csv('newcsv2.csv')

In [50]:
df.to_csv('newcsv3.csv', header=False)
print(df.head())

            House_Prices
Date
2017-07-31      540000.0
2017-06-30      550000.0
2017-05-31      572450.0
2017-04-30      572450.0
2017-03-31      549900.0

In [53]:
df = pd.read_csv('newcsv3.csv', index_col=0, names=['Date', 'House_Price'])
print(df.head())

            House_Price
Date
2017-07-31     540000.0
2017-06-30     550000.0
2017-05-31     572450.0
2017-04-30     572450.0
2017-03-31     549900.0

In [54]:
df.to_html('new.html')

In [55]:
df = pd.read_csv('newcsv3.csv', names=['Date', 'House_Price'])
print(df.head())

         Date  House_Price
0  2017-07-31     540000.0
1  2017-06-30     550000.0
2  2017-05-31     572450.0
3  2017-04-30     572450.0
4  2017-03-31     549900.0

In [57]:
df.rename(columns={'House_Price':'Prices'}, inplace=True)
print(df.head())

         Date    Prices
0  2017-07-31  540000.0
1  2017-06-30  550000.0
2  2017-05-31  572450.0
3  2017-04-30  572450.0
4  2017-03-31  549900.0